@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center;">FPT MANAGEMENT SYSTEM</h1>

    <p class="lead" style="text-align: center;">
        FPT Management System is free
        webiste for managing courses, trainee and trainer in FPT internal training activity using ASP.NET MVC 5
    </p>

    <p style="text-align: center; margin-top: 25px; margin-bottom: 55px"><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <img src="https://media.istockphoto.com/vectors/back-to-school-doodle-seamless-pattern-vector-vector-id1078105518" alt="Education">

</div>